.fiche-logement {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 415px;
    width: 1240px;
    object-fit: cover;
    border-radius: 20px;
  }
  .lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .lodgingInfos {
      display: flex;
      flex-direction: column;
      width: 80%;
      justify-content: space-between;
      gap: 10px;

      .title {
        h2 {
          color: rgba(255, 96, 96, 1);
          font-size: 36px;
          font-weight: 500;
          line-height: 51px;
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 2px;
          margin-top: 5px;
        }

        p {
          font-weight: 500;
          font-size: 18px;
          margin-top: 0px;
        }
      }
    }
    .lodgingUser {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      .host {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;

        img {
          border-radius: 50%;
          width: 64px;
          height: 64px;
        }

        p {
          color: rgba(255, 96, 96, 1);
          width: 87px;
          font-size: 18px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: right;
        }
      }
    }
  }
  .lodgingCollapse {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .fiche-logement {
    .slide-container {
      height: 255px;
      .slide {
        height: 255px;
        img {
          height: 255px;
        }
      }
      .counter {
        display: none;
      }
      .arrow {
        height: 255px;
        .prev,
        .next {
          font-size: 24px;
        }
      }
    }
    .lodging {
      flex-direction: column;
      .lodgingInfos {
        width: 100%;
        .title {
          width: 100%;
          h2 {
            font-size: 25px;
            line-height: 38px;
          }
        }
      }
      .lodgingUser {
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
      }
    }
    .lodgingCollapse {
      flex-direction: column;
      gap: 25px;
    }
  }
}
