.fiche-logement {
  .lodging {
    .lodgingUser {
      .ratings-star {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .fa-star {
          color: rgba(227, 227, 227, 1);
          font-size: 30px;
          gap: 4px;
        }
        .active-star {
          color: rgba(255, 96, 96, 1);
        }
      }
    }
  }
}
